@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
.light {
  --bg-primary: #f1f5f9;
  --bg-secondary: #f8fafc;
  --text-primary: #334155;
  --text-secondary: #64748b;
  --border-color: #cbd5e1;
}

/* Dark mode styles */
.dark {
  --bg-primary: #111827;
  --bg-secondary: #1f2937;
  --text-primary: #f9fafb;
  --text-secondary: #9ca3af;
  --border-color: #374151;
}